@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* styles/globals.css */
@font-face {
  font-family: 'GMX';
  src: url('../../public/fonts/GMX-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
